*

!.svelte-kit/tsconfig.json
!src
!static
!tests
!.npmrc
!.prettierignore
!.prettierrc
!eslint.config.js
!package.json
!playwright.config.ts
!pnpm-lock.yaml
!svelte.config.js
!tsconfig.json
!vite.config.ts
