*

!.svelte-kit/tsconfig.json
!src
!static
!tests
!.eslintignore
!.eslintrc.cjs
!.npmrc
!.prettierignore
!.prettierrc
!package.json
!playwright.config.ts
!pnpm-lock.yaml
!svelte.config.js
!tsconfig.json
!vite.config.js
