*

!.svelte-kit/tsconfig.json
!src
!static
!tests
!.eslintignore
!.eslintrc.cjs
!.npmrc
!.prettierignore
!.prettierrc
!bun.lockb
!package.json
!playwright.config.ts
!svelte.config.js
!tsconfig.json
!vite.config.js
