@mixin colors {
  --color-text-light: #eee;
}

@mixin colors-dark {
  --color-accent: #9615db;
  --color-bg: #2d3032;
  --color-bg-1: #555759;
  --color-bg-2: #7d7f80;
  --color-bg-sel: #d2d3d3;
  --color-text: #eee;
  --color-text-sel: #2d3032;
}

@mixin colors-light {
  --color-accent: #b444ff;
  --color-bg: #eee;
  --color-bg-1: #ddd;
  --color-bg-2: #ccc;
  --color-bg-sel: #555;
  --color-text: #222;
  --color-text-sel: #eee;
}

@mixin theme-dark {
  @include colors-dark;
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

@mixin theme-light {
  @include colors-light;
}

@mixin apply-theme {
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  @include colors;
  @include theme-dark;
  @include apply-theme;
}

@media (prefers-color-scheme: light) {
  body {
    @include theme-light;
  }
}

.theme-light {
  @include theme-light;
  @include apply-theme;
}

.theme-dark {
  @include theme-dark;
  @include apply-theme;
}