@mixin colors {
  --color-text-light: #eee;
}

@mixin colors-dark {
  --color-bg: #222;
  --color-bg-1: #333;
  --color-bg-2: #444;
  --color-bg-3: #555;
  --color-bg-4: #666;
  --color-text: #fff;
}

@mixin colors-light {
  --color-bg: #eee;
  --color-bg-1: #ccc;
  --color-bg-2: #bbb;
  --color-bg-3: #aaa;
  --color-bg-4: #999;
  --color-text: #000;
}

@mixin theme-dark {
  @include colors-dark;
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

@mixin theme-light {
  @include colors-light;
}

@mixin apply-theme {
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  @include colors;
  @include theme-dark;
  @include apply-theme;
}

@media (prefers-color-scheme: light) {
  body {
    @include theme-light;
  }
}

.theme-light {
  @include theme-light;
  @include apply-theme;
}

.theme-dark {
  @include theme-dark;
  @include apply-theme;
}